footer {
  position: relative;
  padding: 0.1em 1em;
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  vertical-align: center;
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
  color: #e60000;
}

footer span {
  color: #e60000;
}
