// Colors
$main-color: #181818;
$main-accent-color: #04aa6d;
$secondary-accent-color: #006842;
$main-bg-color: #efefef;

// Breakpoints
$breakpoint-S: 768px;
$breakpoint-M: 1024px;
$breakpoint-L: 1200px;
